.header {
    background-color: #1a1a1a;
    text-align: center;

    .header_info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-self: center;

      .header_title {
        font-size: 26px;
      }

      .header_nav {
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .header_link {
          text-decoration: none;
          font-size: larger;
          cursor: pointer;
          color: white;

          &:hover {
            color: gray;
          }
        }
      }
    }
  }