.coinrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;

    &:hover {
        background-color: #1a1a1a;
    }

    .coinrow_main {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 24%;
        margin-right: 40px;
    }

    .coinrow_p {
        width: 19%;
        margin-left: 20px;
    }
}